<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <br/>
    <a style="text-align: right;" class="navbar-brand" href="/index">CRUD Nodejs Y di Mongodb</a>
    <br /><br />
    <a href="https://accounts.google.com/">rann4004@gmail.com</a> -: : :-
    <a href="https://accounts.google.com/">nulikaa7@gmail.co</a>
    <br/><br/>
    <a><small>© 2020_02_@*G4uzt054*@_ </small></a>
    <br /><br />
    <h3>see @ <a href="https://getinmypage.herokuapp.com/">my Java project</a></h3>
</footer>
</body>

</html>
